
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Pergunta do dia</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/stylee.css' %}">
</head>
<body>

    <a href="{% url 'polls:form' %}">Subject registration : </a>

{% if latest_subject_list %}

<ul>
    {% for subject in latest_subject_list %}
    <li><a href="{% url 'polls:quest' subject.pk %}">{{ subject.subject_text }}: </br></br></br></a></li>
    {% endfor %}
</ul>

{% else %}
<p>No polls are available.</p>
{% endif %}

</body>
</html>