li a {
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
ul{
    float: right;

    margin-left: 4%;

    text-decoration: none;
    padding: 15px;
    width: 85%;
    list-style-type: none;

}

body {
    background: darkseagreen;
}

fieldset{
    border:3px solid green;
    padding:16px;
}
.button{
     margin-left: 50px;
     margin-top: 15px;
     background-color: green;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
    letter-spacing: 2px;
    font-weight: bold;
 }
a{
    color: black;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}
