li a {
    color: darkseagreen;
    letter-spacing: 1px;



}
ul{
    text-decoration: none;
    padding: 15px;
    width: 85%;
    position:absolute;
    text-align:center;
    list-style-type: none;

}

body {
    background: bisque no-repeat;
}
